
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65 px;
  border-width: 3px;
  border-color: #74132D; 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  /*background-image: url("header.jpg");*/
  background: linear-gradient(to right, #AD74A8 ,#321456 );
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #74132D;
  border-color: #74132D; }

.btn-primary:hover {
  background-color: #9A334F;
  border-color: #74132D;
  border-width: 5px;
  cursor: pointer;
}
  

footer{
  height: 40px;
  widows: 100%;
  text-align: center;
  color: #9A334F;
  position: absolute;
  bottom: 0;
  font-family: 'Bitter', serif;
  font-size: 12px;
}


/* Adding animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  transition: all 2s;
}
